@use '../../utils/variable' as *;
@use '../../utils/mixin' as *;
@use '../../utils/extend' as *;

* {
  letter-spacing: 0.5px;
}

#addToCard {
  --transition: all 0.6s ease;
  position: relative;

  @include bg-img(cover, no-repeat, $attachment: fixed);
  h1 {
    margin-bottom: 1.5rem;
  }

  .products {
    row-gap: 2.5rem;
  }
  .cardFrame {
    position: relative;
    overflow: hidden;
    padding-bottom: 2rem;
    .card {
      background-color: #fff;
      position: relative;
      @include flexbox(center, stretch, wrap, 0.5rem, column);
      padding: 1.5rem;
      padding-bottom: 2.1rem;
      border: $border;
      border-radius: $default-br;
      box-shadow: $box-shadow;
      &:hover {
        .card__img__frame {
          transform: rotate(45deg);
        }
      }

      &__img {
        &__frame {
          transition: var(--transition);
        }
      }
      &__detail {
        @include flexbox(flex-start, stretch, wrap, 0.5rem, column);
        &__head {
          width: 100%;
          @include flexbox(center, space-between, wrap);

          &__rating {
            font-size: $fs-100;
          }
        }

        &__body {
          font-size: $fs-100;
        }

        &__foot {
          margin-top: 10px;
          width: 100%;
          text-align: center;
          &__price {
            font-size: $fs-400;
            font-weight: 300;
          }
        }
      }
      .overlayHover {
        &.deactive {
          backdrop-filter: blur(0);
          transform: translateX(-100%);
        }
        @include position(absolute, 0);
        @include flexbox(flex-start, stretch, wrap, 0, column);
        overflow: hidden;
        backdrop-filter: blur(3px);
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 0.5);
        &__sizes {
          width: 100%;
          flex-direction: column;
          li {
            margin-top: 10px;
            width: 100%;
            label {
              display: grid;
              grid-template-columns: 11px 1fr;
              gap: 0.5rem;

              font-size: $fs-100;
            }
          }
        }

        &__basket {
          margin-top: 2rem;
        }
      }
      .shopBtn {
        background-color: #fff;
        @include position(absolute, $bottom: -1.5rem, $left: 50%);
        transform: translateX(-50%) rotate(45deg);
        padding: 0.5rem;
        box-shadow: 4px 4px 8px #eceef6;

        border-bottom-right-radius: $default-br;

        button {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .cartList {
    @include position(absolute, $right: 70px, $top: 70px);
    z-index: 999;
    font-family: $secondary-ff;

    &__button {
      button {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: $box-shadow;

        &:active {
          transform: scale(0.9);
        }
        i {
          color: $orange;
          font-size: 1.8rem;
        }

        .cartCount {
          @include flexbox(center, center, wrap);
          display: inline-flex;
          @include position(absolute, $bottom: -6px, $right: -6px);
          color: #fff;
          border-radius: 50%;
          background-color: $orange;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 12px;
        }
        .tooltip {
          @include position(absolute, $top: 50%, $left: -100%);

          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: $fs-400;
          padding: 0.2rem 1.5rem;
          background-color: $charcoal;
          border-radius: 6px;
          color: #fff;
          user-select: none;
          pointer-events: none;

          &::before {
            @include before_after('', 25px, 25px);
            @include position(absolute, $top: 50%, $right: -11px);
            transform: translateY(-50%);
            background-color: $charcoal;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 46%);
          }

          visibility: hidden;
          opacity: 0;

          transition: var(--transition);
          transition-delay: 0.5s;
        }

        &:hover {
          .tooltip {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    &__container {
      @include position(absolute, $top: 150%, $right: 0);
      padding: 1rem 1.3rem;
      border: $border;
      border-radius: $default-br;
      width: 500px;
      color: $deepPurple;
      background-color: #fff;
      .head {
        font-size: $fs-500;
      }
      .body {
        gap: 1rem;
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;

        .cartItem {
          position: relative;
          display: grid;
          grid-template-columns: 70px 180px 1fr 1fr;
          align-items: center;
          gap: 10px;
          padding-bottom: 10px;

          &::after {
            @include before_after('', calc(100% - 80px), 1px, #d7d7d7);
            @include position(absolute, $bottom: 0, $right: 0);
          }

          &__desc {
            font-size: $fs-200;
          }
          &__price {
            font-size: $fs-300;
            font-weight: 700;
            sup {
              font-size: $fs-200;
            }
          }
          &__amount {
            display: grid;
            justify-content: center;
            gap: 6px;

            .incr,
            .decr {
              color: $coral;
            }

            .remove {
              font-size: $fs-200;
              font-weight: 600;

              &:hover {
                color: $coral;
              }
            }
          }
        }
      }

      .foot {
        margin-top: 1.5rem;
        @include flexbox(space-between, flex-start, wrap, 1rem, column);

        &__total {
          @include flexbox(center, space-between, wrap);
          font-size: $fs-400;
          font-weight: 500;
          .totalPrice {
            font-weight: 700;
          }
          sub,
          sup {
            font-size: $fs-200;
          }
        }
        &__checkout {
          display: flex;
          gap: 1rem;
          button {
            width: 100%;
            justify-content: center;
            color: #fff;
            font-weight: 700;
            background-color: $coral;
            height: 60px;
            align-items: center;
            font-size: $fs-400;
            border-radius: 14px;
            transition: var(--transition);

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      visibility: hidden;
      opacity: 0;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
