@use './function';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$default-ff: 'Poppins', sans-serif;
$secondary-ff: 'Ubuntu', sans-serif;

// Colors
$black: #000;
$deepPurple: #231e36;
$midnightBlue: #121146;
$charcoal: #3f3f3f;
$coral: #fc4c4c;
$orange: rgb(245, 134, 86);

$linearBg: linear-gradient(
  0deg,
  rgba(245, 134, 86, 1) 0%,
  rgba(254, 86, 38, 1) 100%
);
$linearColor2: rgb(254, 51, 38);
$linearBg2: linear-gradient(
  0deg,
  rgba(254, 51, 38, 1) 0%,
  rgba(254, 86, 38, 1) 100%
);

$border: 2px solid #eceef6;
$box-shadow: 0 4px 8px #eceef6;

// Font-sizes
$fs-100: 12px;
$fs-200: 14px;
$fs-300: 20px;
$fs-400: 24px;
$fs-500: 28px;
$fs-600: 48px;

$h1-fs: $fs-600;

// Border radius
$default-br: 1.3rem;
